<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NY Times Books List</h1>
<% books.forEach(function(book){ %> 
      
    <div>
      <p class="text">Rank: <%= book.rank %></p>
      <p class="rank"><strong><%= book.title %></strong></p>
      <p class="text"><%= book.author %></p>
    </div>


 <% }) %>
  </body>
</html>
