body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

div {
  float: center;
  margin-left: 25%;
  margin-right: 20%;
  width: 50%;
  border: 5px solid;
  text-align: right;t;
}

div:nth-of-type(odd) {
  background-color: grey;
}

.rank {
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin-top: -2px;
  margin-left: 10px;
}

.text {
  margin-right: 10px;
}